<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__policy">
        © 2018 «LOREMIPSUM.NET» Все права защищены.
      </div>

      <div class="hr-vertical"></div>

      <div class="footer__payment">
        <div class="footer__payment-item">
          <img loading="lazy" width="20" height="20" src="./assets/images/svg/qiwi.svg" alt="QIWI" title="QIWI"
            aria-label="QIWI">
          <p>Qiwi wallet</p>
        </div>
        <div class="footer__payment-item">
          <img loading="lazy" width="20" height="20" src="./assets/images/svg/ym.svg" alt="Yandex Money"
            title="Yandex Money" aria-label="Yandex Money">
          <p>Yandex Money</p>
        </div>
        <div class="footer__payment-item">
          <img loading="lazy" width="20" height="20" src="./assets/images/svg/wm.svg" alt="Web Money" title="Web Money"
            aria-label="Web Money">
          <p>Web Money</p>
        </div>
      </div>

      <div class="hr-vertical"></div>

      <div class="footer__contacts">
        <div class="footer__contacts-item">
          <img loading="lazy" width="20" height="20" src="./assets/images/svg/mail.svg" alt="Почта" title="Почта"
            aria-label="Почта">
          <a target="_blank" href="mailto:info@ipsum228.com">info@ipsum228.com</a>
        </div>
        <div class="footer__contacts-item">
          <img loading="lazy" width="20" height="20" src="./assets/images/svg/vk.svg" alt="Вконтакте" title="Вконтакте"
            aria-label="Вконтакте">
          <a href="https://vk.ru" target="_blank">Мы вконтакте</a>
        </div>
      </div>
    </div>
  </div>
</footer>