<meta charset="UTF-8" />
<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="robots" content="index, follow" />
<!-- <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"> -->
<meta name="google" content="notranslate" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="address=no" />
<!-- end Useful meta tags -->

<!-- additional SEO meta -->
<meta name="description" content="you are desc">
<meta name="keywords" content="you are key words">
<meta name="author" content="Author">
<meta name="image" content="assets/images/logo.png">

<meta property="og:type" content="website">
<meta property="og:url" content="https://example.com">
<meta property="og:site_name" content="text == you are title">
<meta property="og:title" content="text == you are title">
<meta property="og:description" content="you are description">
<meta property="og:image" content="assets/images/logo.png">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<!-- end additional SEO meta -->

<meta name="msapplication-TileImage" content="assets/images/ms-icon-144x144.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- add canonical links for any pages -->
<!-- example -->
<!-- <link rel="canonical" href="https://example.com">
<link rel="canonical" href="https://example.com/products">
<link rel="canonical" href="https://example.com/tutorials/js/functions"> -->
<!-- end example -->
<link rel="canonical" href="https://example.com">

<!--favicon-->
<link rel="apple-touch-icon" sizes="57x57" href="assets/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon-180x180.png">

<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon-192x192.png">

<link rel="manifest" href="assets/images/manifest.json">

<meta name="apple-mobile-web-app-title" content="text == you title">
<meta name="mobile-web-app-capable" content="yes">
<!--end favicon-->

<!-- default styles -->
<link rel="stylesheet" href="assets/css/style.min.css" />
<!-- end default styles -->

<title>{{ title }}</title>