// reset styles;
@import "vendors/reset";
// scrollbar
@import "scrollbar";
// tooltips
// @import "tooltips";
// fonts
@import "fonts";
// variables
@import "vars";
// mixins
@import "mixins";


// default styles
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: $blue-grey;
  font-family: 'Lato Regular', sans-serif;
  font-size: 1.6rem;
  color: $white;
  height: 100%;
  min-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  flex: 0 0 auto;
}

footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  image-rendering: -webkit-optimize-contrast;

  font: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

img {
  vertical-align: top;
  object-fit: cover;
}

a {
  text-decoration: none;
}

@supports not (scroll-behavior: smooth) {
  html {
    scroll-behavior: auto;
  }
}

input,
textarea,
select,
button {
  -webkit-tap-highlight-color: transparent;
}

// end default styles

.text-accent {
  color: $accent;
}

.text-accent-additional {
  color: $accent-additional;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hr-vertical {
  width: 1px;
  height: 18px;
  background-color: #C3C3C3;
}


/* Blocks */
@import 'blocks/header';
@import 'blocks/container';
@import 'blocks/btn';
@import 'blocks/input';
@import 'blocks/greet';
@import 'blocks/order';
@import 'blocks/mobile-menu';
@import 'blocks/footer';