.container {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1920px) {
  .container {
    max-width: 1172px;
  }
}

@media screen and (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 580px;
  }
}

@media screen and (max-width: 598px) {
  .container {
    max-width: calc(100% - 30px);
    margin: 0 10px;
  }
}