.footer {
  padding: 30px 0;
  background-color: #3D4050;
  font-size: 13px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: 1260px) {
      gap: 30px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;

      & .hr-vertical {
        display: none;
      }

      & .footer__policy {
        text-align: center;
      }
    }
  }

  :is(&__payment, &__contacts) {
    display: flex;
    align-items: center;
    gap: 38px;

    @media screen and (max-width: 1260px) {
      gap: 20px;
    }

    @media screen and (max-width: 768px) {
      gap: 16px;
    }

    @media screen and (max-width: 400px) {
      gap: 8px;
    }
  }

  &__payment-item,
  &__contacts-item {
    display: flex;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 1260px) {
      gap: 6px;
    }

    @media screen and (max-width: 768px) {
      gap: 4px;
    }
  }

  &__contacts-item a {
    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media(hover: none) {
      &:active {
        text-decoration: underline;
      }
    }
  }
}