.header {
  background-color: rgba(16, 16, 29, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 100px;
  max-height: 100px;
  border: 1px solid #000;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__logo {
    font-family: 'Lato Bold', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 2.4rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 2rem;
    }
  }

  &__nav,
  &__logo {
    text-transform: uppercase;
  }

  &__nav {
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
      font-family: 'Lato Semibold', sans-serif;
      font-size: 1.3rem;
      font-weight: 600;

      @media screen and (max-width: 768px) {
        gap: 20px;
        font-size: 1.2rem;
      }

      & li {
        transition: color 0.3s ease-in-out;
      }

      @media (hover: hover) {
        & li:hover {
          color: $accent-hover;
        }
      }

      @media (hover: none) {
        & li:active {
          color: $accent-hover;
        }
      }
    }

    @media screen and (max-width: 557px) {
      display: none;
    }
  }

  & .burger-btn {
    display: none;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 557px) {
      display: flex;
    }

    &__content {
      margin: 6px;
      padding: 0px;
      flex: 0 1 auto;
    }

    & .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & .top {
        stroke-dasharray: 40 139;
      }

      & .bottom {
        stroke-dasharray: 40 180;
      }

      &.active {
        transform: rotate(45deg);

        & .top {
          stroke-dashoffset: -98px;
        }

        & .bottom {
          stroke-dashoffset: -138px;
        }
      }
    }

    & .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #fff;
      stroke-width: 5.5;
      stroke-linecap: round;
    }
  }
}