.input {
  background-color: rgba(255, 255, 255, 0.85);
  outline: none;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 100%;
  max-width: 370px;
  height: 48px;
  padding: 0 10px;
  font-size: 18px;
  color: #272733;

  &::placeholder {
    color: currentColor;
  }

  &-file {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    color: #272733;
    font-family: 'Lato Semibold', sans-serif;
    font-weight: 600;

    & img {
      width: 17px;
      height: 20px;
    }
  }
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.85) inset !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, .85) inset !important;
  -webkit-text-fill-color: #272733 !important;
  background-clip: content-box !important;
}

input:autofill {
  background-color: rgba(255, 255, 255, 0.85) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.85) inset !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.85) inset !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

.select {
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  outline: none;
  border: 1px solid #fff;
  border-radius: 3px;
  max-width: 370px;
  height: 48px;
  padding: 0 10px;
  font-size: 18px;
  color: #272733;
  user-select: none;
  outline: none;

  &__trigger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s, border-color 0.2s;
  }

  &.open {
    background-color: $blue-grey;
    border-color: $blue-grey;
    color: $white;
  }

  .arrow {
    width: 6px;
    height: 6px;
    border-right: 1.5px solid;
    border-bottom: 1.5px solid;
    border-color: #272733;
    transform: rotate(45deg);
    transition: transform 0.35s ease;
    will-change: transform;
  }

  &.open .arrow {
    transform: rotate(-135deg);
    border-color: #fff;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    background: #272733;
    border: 1px solid $blue-grey;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    z-index: 10;

    opacity: 0;
    transform: translateY(-5px);
    pointer-events: none;
    transition: opacity 0.35s ease, transform 0.35s ease;
    will-change: transform, opacity;
  }

  &.open &__dropdown {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  &__option {
    padding: 12px 12px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;

    &:hover,
    &.active {
      color: $accent-additional;
    }
  }
}

.input-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.70);
  border: 1px solid #fff;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin-top: 16px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23.7px;
    height: 23.7px;
    background: $accent-additional;
    border-radius: 50%;
    border: 3px solid #286690;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: grab;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
  }

  &::-webkit-slider-thumb:active {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
  }

  &::-moz-range-thumb {
    width: 23.7px;
    height: 23.7px;
    background: $accent-additional;
    border-radius: 50%;
    border: 2px solid #286690;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    cursor: grab;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
  }

  &::-moz-range-thumb:active {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(59, 130, 246, 0.5);
  }

  &::-moz-range-track {
    background: $accent-additional;
    border: 1px solid #286690;
    border-radius: 3px;
  }

  &::-moz-focus-outer {
    border: 0;
  }
}