.mobile-menu {
  position: fixed;
  top: 98px;
  right: 0;
  left: -100%;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 29, .9);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: none;

  &__nav {
    width: 100%;
  }

  &.show {
    left: 0;
  }

  @media screen and (max-width: 557px) {
    display: flex;
  }

  &__list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    @media(hover: hover) {
      &:hover {
        color: $accent-additional;
        background-color: #fff;
      }
    }

    @media(hover: none) {
      &:active {
        color: $accent-additional;
        background-color: #fff;
      }
    }
  }
}